In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\x473970\appdata\local\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install --upgrade 'sqlalchemy<2.0'

The system cannot find the file specified.

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd


# ![title](sakila-db-model.png)

In [5]:
from sqlalchemy import create_engine
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "root" # (or whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [6]:
engine = create_engine(connection)

In [7]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [18]:
q = """SELECT * FROM customer;"""
pd.read_sql(q, engine)

,customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update
0,1,1,MARY,SMITH,MARY.SMITH@sakilacustomer.org,5,1,2006-02-14 22:04:36,2006-02-15 04:57:20
1,2,1,PATRICIA,JOHNSON,PATRICIA.JOHNSON@sakilacustomer.org,6,1,2006-02-14 22:04:36,2006-02-15 04:57:20
2,3,1,LINDA,WILLIAMS,LINDA.WILLIAMS@sakilacustomer.org,7,1,2006-02-14 22:04:36,2006-02-15 04:57:20
3,4,2,BARBARA,JONES,BARBARA.JONES@sakilacustomer.org,8,1,2006-02-14 22:04:36,2006-02-15 04:57:20
4,5,1,ELIZABETH,BROWN,ELIZABETH.BROWN@sakilacustomer.org,9,1,2006-02-14 22:04:36,2006-02-15 04:57:20
...,...,...,...,...,...,...,...,...,...
594,595,1,TERRENCE,GUNDERSON,TERRENCE.GUNDERSON@sakilacustomer.org,601,1,2006-02-14 22:04:37,2006-02-15 04:57:20
595,596,1,ENRIQUE,FORSYTHE,ENRIQUE.FORSYTHE@sakilacustomer.org,602,1,2006-02-14 22:04:37,2006-02-15 04:57:20
596,597,1,FREDDIE,DUGGAN,FREDDIE.DUGGAN@sakilacustomer.org,603,1,2006-02-14 22:04:37,2006-02-15 04:57:20
597,598,1,WADE,DELVALLE,WADE.DELVALLE@sakilacustomer.org,604,1,2006-02-14 22:04:37,2006-02-15 04:57:20
598,599,2,AUSTIN,CINTRON,AUSTIN.CINTRON@sakilacustomer.org,605,1,2006-02-14 22:04:37,2006-02-15 04:57:20

In [15]:
query = """
SELECT address.city_id AS city_id, customer.first_name AS first_name, customer.last_name AS last_name, customer.email, address.address
FROM customer
JOIN address ON customer.address_id = address.address_id
WHERE address.city_id = 312;
"""
pd.read_sql(query, engine)

,city_id,first_name,last_name,email,address
0,312,MATTIE,HOFFMAN,MATTIE.HOFFMAN@sakilacustomer.org,1497 Yuzhou Drive
1,312,CECIL,VINES,CECIL.VINES@sakilacustomer.org,548 Uruapan Street

In [16]:
query = """
    SELECT * FROM film
    JOIN film_category ON film.film_id = film_category.film_id
    JOIN category ON film_category.category_id = category.category_id
    WHERE category.name = 'Comedy';
    """
pd.read_sql(query, engine)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,film_id,category_id,last_update,category_id,name,last_update
0,7,AIRPLANE SIERRA,A Touching Saga of a Hunter And a Butler who m...,2006,1,None,6,4.99,62,28.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42,7,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
1,28,ANTHEM LUKE,A Touching Panorama of a Waitress And a Woman ...,2006,1,None,5,4.99,91,16.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,28,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
2,99,BRINGING HYSTERICAL,A Fateful Saga of a A Shark And a Technical Wr...,2006,1,None,7,2.99,136,14.99,PG,Trailers,2006-02-15 05:03:42,99,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
3,119,CAPER MOTIONS,A Fateful Saga of a Moose And a Car who must P...,2006,1,None,6,0.99,176,22.99,G,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42,119,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
4,127,CAT CONEHEADS,A Fast-Paced Panorama of a Girl And a A Shark ...,2006,1,None,5,4.99,112,14.99,G,"Commentaries,Deleted Scenes",2006-02-15 05:03:42,127,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
5,159,CLOSER BANG,A Unbelieveable Panorama of a Frisbee And a Hu...,2006,1,None,5,4.99,58,12.99,R,"Trailers,Behind the Scenes",2006-02-15 05:03:42,159,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
6,178,CONNECTION MICROCOSMOS,A Fateful Documentary of a Crocodile And a Hus...,2006,1,None,6,0.99,115,25.99,G,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,178,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
7,182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-15 05:03:42,182,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
8,188,CRAZY HOME,A Fanciful Panorama of a Boy And a Woman who m...,2006,1,None,7,2.99,136,24.99,PG,"Commentaries,Deleted Scenes",2006-02-15 05:03:42,188,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
9,202,DADDY PITTSBURGH,A Epic Story of a A Shark And a Student who mu...,2006,1,None,5,4.99,161,26.99,G,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,202,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
10,242,DOOM DANCING,A Astounding Panorama of a Car And a Mad Scien...,2006,1,None,4,0.99,68,13.99,R,"Trailers,Commentaries",2006-02-15 05:03:42,242,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
11,247,DOWNHILL ENOUGH,A Emotional Tale of a Pastry Chef And a Forens...,2006,1,None,3,0.99,47,19.99,G,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42,247,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
12,265,DYING MAKER,A Intrepid Tale of a Boat And a Monkey who mus...,2006,1,None,5,4.99,168,28.99,PG,Behind the Scenes,2006-02-15 05:03:42,265,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
13,276,ELEMENT FREDDY,A Awe-Inspiring Reflection of a Waitress And a...,2006,1,None,6,4.99,115,28.99,NC-17,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,276,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
14,308,FERRIS MOTHER,A Touching Display of a Frisbee And a Frisbee ...,2006,1,None,3,2.99,142,13.99,PG,"Trailers,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,308,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
15,317,FIREBALL PHILADELPHIA,A Amazing Yarn of a Dentist And a A Shark who ...,2006,1,None,4,0.99,148,25.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,317,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
16,324,FLINTSTONES HAPPINESS,A Fateful Story of a Husband And a Moose who m...,2006,1,None,3,4.99,148,11.99,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,324,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
17,332,FRANKENSTEIN STRANGER,A Insightful Character Study of a Feminist And...,2006,1,None,7,0.99,159,16.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,332,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
18,335,FREEDOM CLEOPATRA,A Emotional Reflection of a Dentist And a Mad ...,2006,1,None,5,0.99,133,23.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,335,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
19,365,GOLD RIVER,A Taut Documentary of a Database Administrator...,2006,1,None,4,4.99,154,21.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,365,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
20,385,GROUNDHOG UNCUT,A Brilliant Panorama of a Astronaut And a Tech...,2006,1,None,6,4.99,139,26.99,PG-13,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,385,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
21,388,GUNFIGHT MOON,A Epic Reflection of a Pastry Chef And a Explo...,2006,1,None,5,0.99,70,16.99,NC-17,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,388,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
22,404,HATE HANDICAP,A Intrepid Reflection of a Mad Scientist And a...,2006,1,None,4,0.99,107,26.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,404,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
23,410,HEAVEN FREEDOM,A Intrepid Story of a Butler And a Car who mus...,2006,1,None,7,2.99,48,19.99,PG,Commentaries,2006-02-15 05:03:42,410,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
24,413,HEDWIG ALTER,A Action-Packed Yarn of a Womanizer And a Lumb...,2006,1,None,7,2.99,169,16.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,413,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
25,443,HURRICANE AFFAIR,A Lacklusture Epistle of a Database Administra...,2006,1,None,6,2.99,49,11.99,PG,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,443,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
26,444,HUSTLER PARTY,A Emotional Reflection of a Sumo Wrestler And ...,2006,1,None,3,4.99,83,22.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,444,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
27,478,JAWS HARRY,A Thrilling Display of a Database Administrato...,2006,1,None,4,2.99,112,10.99,G,Deleted Scenes,2006-02-15 05:03:42,478,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
28,502,KNOCK WARLOCK,A Unbelieveable Story of a Teacher And a Boat ...,2006,1,None,4,2.99,71,21.99,PG-13,Trailers,2006-02-15 05:03:42,502,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
29,522,LIFE TWISTED,A Thrilling Reflection of a Teacher And a Comp...,2006,1,None,4,2.99,137,9.99,NC-17,"Commentaries,Deleted Scenes",2006-02-15 05:03:42,522,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
30,524,LION UNCUT,A Intrepid Display of a Pastry Chef And a Cat ...,2006,1,None,6,0.99,50,13.99,PG,"Trailers,Deleted Scenes",2006-02-15 05:03:42,524,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
31,529,LONELY ELEPHANT,A Intrepid Story of a Student And a Dog who mu...,2006,1,None,3,2.99,67,12.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,529,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
32,555,MALLRATS UNITED,A Thrilling Yarn of a Waitress And a Dentist w...,2006,1,None,4,0.99,133,25.99,PG,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42,555,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
33,568,MEMENTO ZOOLANDER,A Touching Epistle of a Squirrel And a Explore...,2006,1,None,4,4.99,77,11.99,NC-17,Behind the Scenes,2006-02-15 05:03:42,568,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
34,604,MULAN MOON,A Emotional Saga of a Womanizer And a Pioneer ...,2006,1,None,4,0.99,160,10.99,G,Behind the Scenes,2006-02-15 05:03:42,604,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
35,613,MYSTIC TRUMAN,A Epic Yarn of a Teacher And a Hunter who must...,2006,1,None,5,0.99,92,19.99,NC-17,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,613,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
36,638,OPERATION OPERATION,A Intrepid Character Study of a Man And a Fris...,2006,1,None,7,2.99,156,23.99,G,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,638,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
37,657,PARADISE SABRINA,A Intrepid Yarn of a Car And a Moose who must ...,2006,1,None,5,2.99,48,12.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,657,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
38,660,PARTY KNOCK,A Fateful Display of a Technical Writer And a ...,2006,1,None,7,2.99,107,11.99,PG,"Trailers,Behind the Scenes",2006-02-15 05:03:42,660,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
39,672,PERFECT GROOVE,A Thrilling Yarn of a Dog And a Dog who must B...,2006,1,None,7,2.99,82,17.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,672,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
40,680,PINOCCHIO SIMON,A Action-Packed Reflection of a Mad Scientist ...,2006,1,None,4,4.99,103,21.99,PG,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,680,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
41,704,PURE RUNNER,A Thoughtful Documentary of a Student And a Ma...,2006,1,None,3,2.99,121,25.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,704,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
42,754,RUSHMORE MERMAID,A Boring Story of a Woman And a Moose who must...,2006,1,None,6,2.99,150,17.99,PG-13,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42,754,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
43,756,SADDLE ANTITRUST,A Stunning Epistle of a Feminist And a A Shark...,2006,1,None,7,2.99,80,10.99,PG-13,"Trailers,Deleted Scenes",2006-02-15 05:03:42,756,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
44,765,SATURN NAME,A Fateful Epistle of a Butler And a Boy who mu...,2006,1,None,7,4.99,182,18.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,765,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
45,774,SEARCHERS WAIT,A Fast-Paced Tale of a Car And a Mad Scientist...,2006,1,None,3,2.99,182,22.99,NC-17,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42,774,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
46,814,SNATCH SLIPPER,A Insightful Panorama of a Woman And a Feminis...,2006,1,None,6,4.99,110,15.99,PG,Commentaries,2006-02-15 05:03:42,814,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
47,837,STAGE WORLD,A Lacklusture Panorama of a Woman And a Frisbe...,2006,1,None,4,2.99,85,19.99,PG,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,837,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
48,857,STRICTLY SCARFACE,A Touching Reflection of a Crocodile And a Dog...,2006,1,None,3,2.99,144,24.99,PG-13,"Commentaries,Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,857,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
49,858,SUBMARINE BED,A Amazing Display of a Car And a Monkey who mu...,2006,1,None,5,4.99,127,21.99,R,Trailers,2006-02-15 05:03:42,858,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
50,871,SWEDEN SHINING,A Taut Documentary of a Car And a Robot who mu...,2006,1,None,6,4.99,176,19.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,871,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
51,905,TRAINSPOTTING STRANGERS,A Fast-Paced Drama of a Pioneer And a Mad Cow ...,2006,1,None,7,4.99,132,10.99,PG-13,Trailers,2006-02-15 05:03:42,905,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
52,906,TRAMP OTHERS,A Brilliant Display of a Composer And a Cat wh...,2006,1,None,4,0.99,171,27.99,PG,Deleted Scenes,2006-02-15 05:03:42,906,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
53,932,VALLEY PACKER,A Astounding Documentary of a Astronaut And a ...,2006,1,None,3,0.99,73,21.99,G,"Commentaries,Deleted Scenes",2006-02-15 05:03:42,932,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
54,938,VELVET TERMINATOR,A Lacklusture Tale of a Pastry Chef And a Tech...,2006,1,None,3,4.99,173,14.99,R,Behind the Scenes,2006-02-15 05:03:42,938,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
55,939,VERTIGO NORTHWEST,A Unbelieveable Display of a Mad Scientist And...,2006,1,None,4,2.99,90,17.99,R,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,939,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
56,978,WISDOM WORKER,A Unbelieveable Saga of a Forensic Psychologis...,2006,1,None,3,0.99,98,12.99,R,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,978,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27
57,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,1000,5,2006-02-15 05:07:09,5,Comedy,2006-02-15 04:46:27

In [24]:
query = """
SELECT actor.last_name AS last_name , film.title, film.release_year
FROM film
JOIN actor ON actor.actor_id = actor.actor_id
WHERE actor.last_name = 'Lollobrigida';
"""
pd.read_sql(query, engine)

        last_name              title  release_year
0    LOLLOBRIGIDA   ACADEMY DINOSAUR          2006
1    LOLLOBRIGIDA     ACE GOLDFINGER          2006
2    LOLLOBRIGIDA   ADAPTATION HOLES          2006
3    LOLLOBRIGIDA   AFFAIR PREJUDICE          2006
4    LOLLOBRIGIDA        AFRICAN EGG          2006
..            ...                ...           ...
995  LOLLOBRIGIDA     YOUNG LANGUAGE          2006
996  LOLLOBRIGIDA         YOUTH KICK          2006
997  LOLLOBRIGIDA       ZHIVAGO CORE          2006
998  LOLLOBRIGIDA  ZOOLANDER FICTION          2006
999  LOLLOBRIGIDA          ZORRO ARK          2006

[1000 rows x 3 columns]

In [26]:
query=""" 
SELECT film.title, actor.first_name, actor.last_name
FROM film
JOIN actor ON actor.actor_id = actor.actor_id
WHERE film.title ='Bingo Talented';
"""
pd.read_sql(query, engine)

              title first_name     last_name
0    BINGO TALENTED   PENELOPE       GUINESS
1    BINGO TALENTED       NICK      WAHLBERG
2    BINGO TALENTED         ED         CHASE
3    BINGO TALENTED   JENNIFER         DAVIS
4    BINGO TALENTED     JOHNNY  LOLLOBRIGIDA
..              ...        ...           ...
195  BINGO TALENTED       BELA        WALKEN
196  BINGO TALENTED      REESE          WEST
197  BINGO TALENTED       MARY        KEITEL
198  BINGO TALENTED      JULIA       FAWCETT
199  BINGO TALENTED      THORA        TEMPLE

[200 rows x 3 columns]

In [27]:
query= """
SELECT customer_id, amount
FROM payment
WHERE amount > 2 * (SELECT AVG(amount) FROM payment);
"""
pd.read_sql(query, engine)

     customer_id  amount
0              1    9.99
1              2   10.99
2              3    8.99
3              3   10.99
4              3    8.99
..           ...     ...
852          595    9.99
853          595   10.99
854          597    8.99
855          599    9.99
856          599    8.99

[857 rows x 2 columns]

In [30]:
query="""
SELECT c.first_name, c.last_name, COUNT(p.customer_id) AS num_payments
FROM customer AS c
JOIN payment AS p ON c.customer_id = p.customer_id
GROUP BY c.customer_id
ORDER BY num_payments DESC
LIMIT 5;
"""
pd.read_sql(query, engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41